* {
    margin: 0;
    padding: 0;
  }
  html,
  body {
    height: 100%;
  }


body {
    background-image: url(../img/black-background.jpg);
}

.container {
    display: flex;
    flex-direction: column;
    color: #f0e9e9;
    margin-top: 6%;
    max-width: 70%;
    max-height: 80%;
    
}


.footer__container {
    padding-top: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    background-color: #242323d2;
    display: flex;
    color: #a3a3a3;
}

.center__container a {
    color: #a3a3a3;
    font-size: 13px;
    font-weight: 100;
    display: flex;
    justify-content: center;
}

.right__container {
    font-size: 10px;
    align-content: end;
    margin-left: 50%;
}