<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
          crossorigin="anonymous">
	<link rel="stylesheet" href="../static/css/style.css">
    <link rel="icon" href="../static/img/ico.png">
	<title>{{ title }}</title>
</head>
<body>
<main role="main" class="container">
    {% if request.path != '/register' and request.path != '/login' %}
        <header class="header">
            {% if current_user.is_authenticated %}
                <div class="nav__menu">
                    <div class="news__block nav__block">
                        <a href="/news" class="nav__page-link">НОВОСТИ</a>
                    </div>
                    <div class="about__block nav__block">
                        <a href="/about" class="nav__page-link">О ПЛАТФОРМЕ</a>
                    </div>
                    <div class="shops__block nav__block">
                        <a href="/" class="nav__page-link">МАГАЗИНЫ</a>
                    </div>
                    <div class="create__shop-block nav__block">
                        <a href="/" class="nav__page-link">СОЗДАТЬ МАГАЗИН</a>
                    </div>
                </div>
                <a class="navbar-brand" href="/logout">{{ current_user.name }}</a>
            {% else %}
                <div class="sing_in_btns">
                    <a class="btn btn-register" href="/register">Регистрация</a>
                    <a class="btn btn-login" href="/login">Вход</a>
                </div>
            {% endif %}
        </header>
    {% endif %}
    <div class="main__content">
    {% block content %} {% endblock %}
    </div>
    <footer class="footer__container">
        <!--left&right for future-->
        <div class="center__container"><a href="/about">Open Game Site Creator</a></div>
        <div class="right__container">© Права не защищены, 0_0</div>
    </footer>
</main>

</body>
</html>